A practical introduction to Pandas
===================

We have been asked to *analyze an otp dataset*, without much more information. This kind of scenario is more common than you might imagine!

## 1) Quickly examine the files in ~/Data/us_dot/otp. What do they contain, in both technical and functional terms? (Use any tool you want)

In [4]:
#donde estamos ruta?
! pwd

/home/dsc/Desktop/Master_data_science/dia5

In [5]:
#archivos que hay
! ls

04-group_by_clean.ipynb
05-visualization_introduction_clean.ipynb
06-intro_to_pandas_practical_clean.ipynb
On_Time_On_Time_Performance_2015_1.zip
On_Time_On_Time_Performance_2015_2.zip
On_Time_On_Time_Performance_2015_3.zip
On_Time_On_Time_Performance_2015_4.zip
On_Time_On_Time_Performance_2015_5.zip
On_Time_On_Time_Performance_2015_6.zip
On_Time_On_Time_Performance_2015_7.zip
On_Time_On_Time_Performance_2015_8.zip
plot_ex.png
readme.html
scatter_ex.png
tips(1).csv
tips.csv

In [6]:
#crear carpeta  ejem
# !mkdir data/us_dot/otp

#para mover los archivos o copy

#! cp -R /Data/us_dot/otp/On_time*   ./Data....(donde queramos copiar)
#! mv /Data/us_dot/otp/On_time*   ./Data....(donde queramos copiar)

In [7]:
#guardar en una variable la ruta donde estan mis archivos
# ~ con alt gr y 4
path_to_zips = '~/Data/us_dot/otp/'

In [8]:
! ls {path_to_zips}

fichero.hist				On_Time_On_Time_Performance_2015_6.zip
On_Time_On_Time_Performance_2015_1.zip	On_Time_On_Time_Performance_2015_7.zip
On_Time_On_Time_Performance_2015_2.zip	On_Time_On_Time_Performance_2015_8.zip
On_Time_On_Time_Performance_2015_3.zip	Text_example
On_Time_On_Time_Performance_2015_4.zip	three_largest_file.txt
On_Time_On_Time_Performance_2015_5.zip	thre_largest_file.txt

For this example, we are going to begin using the shell from within this notebook, with the ! notation:

A ! sign before a line tells the notebook to send that line straight away to the underlying OS. 

\* Note that we can substitute python variables into the shell command. We do that by surrounding the name of the variable with curly braces ({}). That's what we are going to do with the `path_to_files` variable

### Check what the files contain

In [9]:
#unzip  -l , lee el contenido que le indiquemos

In [10]:
! unzip -l {path_to_zips}On_Time_On_Time_Performance_2015_1.zip

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
211633432  2015-04-16 20:02   On_Time_On_Time_Performance_2015_1.csv
    12054  2015-04-16 20:02   readme.html
---------                     -------
211645486                     2 files

Oh, it has a readme! Always good to read it.

### Unzip the readme to the current directory

Use the shell

Remember, since the zip file contains several compressed files, we need to specify which one we want.

In [11]:
#extraer el -o readme
# que me guarde el readme en -d $ (pwd)   en la misma ruta

In [12]:
! unzip -o {path_to_zips}On_Time_On_Time_Performance_2015_1.zip readme.html -d $(pwd)

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  inflating: /home/dsc/Desktop/Master_data_science/dia5/readme.html

In [13]:
! ls -lrt

total 191244
-rw-r--r-- 1 dsc dsc    12054 abr 16  2015 readme.html
-rw-r--r-- 1 dsc dsc    17393 abr 19 19:58 plot_ex.png
-rw-r--r-- 1 dsc dsc   115758 abr 19 19:58 scatter_ex.png
-rw-r--r-- 1 dsc dsc     7943 abr 19 19:59 tips(1).csv
-rw-r--r-- 1 dsc dsc 23061340 abr 19 20:00 On_Time_On_Time_Performance_2015_1.zip
-rw-r--r-- 1 dsc dsc 21230105 abr 19 20:00 On_Time_On_Time_Performance_2015_2.zip
-rw-r--r-- 1 dsc dsc 24811186 abr 19 20:00 On_Time_On_Time_Performance_2015_3.zip
-rw-r--r-- 1 dsc dsc 23625261 abr 19 20:00 On_Time_On_Time_Performance_2015_4.zip
-rw-r--r-- 1 dsc dsc 24334057 abr 19 20:00 On_Time_On_Time_Performance_2015_5.zip
-rw-r--r-- 1 dsc dsc 25758350 abr 19 20:01 On_Time_On_Time_Performance_2015_6.zip
-rw-r--r-- 1 dsc dsc 26204213 abr 19 20:01 On_Time_On_Time_Performance_2015_7.zip
-rw-r--r-- 1 dsc dsc 25726054 abr 19 20:01 On_Time_On_Time_Performance_2015_8.zip
-rw-r--r-- 1 dsc dsc     7943 abr 20 17:17 tips.csv
-rw-r--r-- 1 dsc dsc    80437 abr 20 18:21 04-group_by_clean.ipynb
-rw-r--r-- 1 dsc dsc   772143 abr 20 21:57 05-visualization_introduction_clean.ipynb
-rw-r--r-- 1 dsc dsc    43515 abr 21 10:10 06-intro_to_pandas_practical_clean.ipynb

### Take a look at the beginning of the readme file

using the shell

In [14]:
#leerlo

In [19]:
! head readme.html

<HTML>
<HEAD>
	<TITLE> readme.html </TITLE>
</HEAD>
<BODY>
	<TABLE><TR><TD COLSPAN=2><H4>BACKGROUND</H4></TD></TR>
	<TR><TD COLSPAN=2>The data contained in the compressed file has been extracted from the
	On-Time Performance data table of the "On-Time" database from the TranStats data library.
	The time period is indicated in the name of the compressed file;
	for example, XXX_XXXXX_2001_1 contains data of the first month of the year 2001. </TD></TR>

In [16]:
! cat readme.html

<HTML>
<HEAD>
	<TITLE> readme.html </TITLE>
</HEAD>
<BODY>
	<TABLE><TR><TD COLSPAN=2><H4>BACKGROUND</H4></TD></TR>
	<TR><TD COLSPAN=2>The data contained in the compressed file has been extracted from the
	On-Time Performance data table of the "On-Time" database from the TranStats data library.
	The time period is indicated in the name of the compressed file;
	for example, XXX_XXXXX_2001_1 contains data of the first month of the year 2001. </TD></TR>
	<TR><TD COLSPAN=2>&nbsp;</TD></TR>
	<TR><TD COLSPAN=2><H4>RECORD LAYOUT</H4></TD></TR>
	<TR><TD COLSPAN=2>Below are fields in the order that they appear on the records:</TD></TR>
	<TR><TD>Year</TD><TD>Year</TD></TR>
	<TR><TD>Quarter</TD><TD>Quarter (1-4)</TD></TR>
	<TR><TD>Month</TD><TD>Month</TD></TR>
	<TR><TD>DayofMonth</TD><TD>Day of Month</TD></TR>
	<TR><TD>DayOfWeek</TD><TD>Day of Week</TD></TR>
	<TR><TD>FlightDate</TD><TD>Flight Date (yyyymmdd)</TD></TR>
	<TR><TD>UniqueCarrier</TD><TD>Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.</TD></TR>
	<TR><TD>AirlineID</TD><TD>An identification number assigned by US DOT to identify a unique airline (carrier). A unique airline (carrier) is defined as one holding and reporting under the same DOT certificate regardless of its Code, Name, or holding company/corporation.</TD></TR>
	<TR><TD>Carrier</TD><TD>Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different carriers over time, the code is not always unique. For analysis, use the Unique Carrier Code.</TD></TR>
	<TR><TD>TailNum</TD><TD>Tail Number</TD></TR>
	<TR><TD>FlightNum</TD><TD>Flight Number</TD></TR>
	<TR><TD>OriginAirportID</TD><TD>Origin Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.  Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.</TD></TR>
	<TR><TD>OriginAirportSeqID</TD><TD>Origin Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time.  Airport attributes, such as airport name or coordinates, may change over time.</TD></TR>
	<TR><TD>OriginCityMarketID</TD><TD>Origin Airport, City Market ID. City Market ID is an identification number assigned by US DOT to identify a city market.  Use this field to consolidate airports serving the same city market.</TD></TR>
	<TR><TD>Origin</TD><TD>Origin Airport</TD></TR>
	<TR><TD>OriginCityName</TD><TD>Origin Airport, City Name</TD></TR>
	<TR><TD>OriginState</TD><TD>Origin Airport, State Code</TD></TR>
	<TR><TD>OriginStateFips</TD><TD>Origin Airport, State Fips</TD></TR>
	<TR><TD>OriginStateName</TD><TD>Origin Airport, State Name</TD></TR>
	<TR><TD>OriginWac</TD><TD>Origin Airport, World Area Code</TD></TR>
	<TR><TD>DestAirportID</TD><TD>Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.  Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.</TD></TR>
	<TR><TD>DestAirportSeqID</TD><TD>Destination Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time.  Airport attributes, such as airport name or coordinates, may change over time.</TD></TR>
	<TR><TD>DestCityMarketID</TD><TD>Destination Airport, City Market ID. City Market ID is an identification number assigned by US DOT to identify a city market.  Use this field to consolidate airports serving the same city market.</TD></TR>
	<TR><TD>Dest</TD><TD>Destination Airport</TD></TR>
	<TR><TD>DestCityName</TD><TD>Destination Airport, City Name</TD></TR>
	<TR><TD>DestState</TD><TD>Destination Airport, State Code</TD></TR>
	<TR><TD>DestStateFips</TD><TD>Destination Airport, State Fips</TD></TR>
	<TR><TD>DestStateName</TD><TD>Destination Airport, State Name</TD></TR>
	<TR><TD>DestWac</TD><TD>Destination Airport, World Area Code</TD></TR>
	<TR><TD>CRSDepTime</TD><TD>CRS Departure Time (local time: hhmm)</TD></TR>
	<TR><TD>DepTime</TD><TD>Actual Departure Time (local time: hhmm)</TD></TR>
	<TR><TD>DepDelay</TD><TD>Difference in minutes between scheduled and actual departure time. Early departures show negative numbers.</TD></TR>
	<TR><TD>DepDelayMinutes</TD><TD>Difference in minutes between scheduled and actual departure time. Early departures set to 0.</TD></TR>
	<TR><TD>DepDel15</TD><TD>Departure Delay Indicator, 15 Minutes or More (1=Yes)</TD></TR>
	<TR><TD>DepartureDelayGroups</TD><TD>Departure Delay intervals, every (15 minutes from <-15 to >180)</TD></TR>
	<TR><TD>DepTimeBlk</TD><TD>CRS Departure Time Block, Hourly Intervals</TD></TR>
	<TR><TD>TaxiOut</TD><TD>Taxi Out Time, in Minutes</TD></TR>
	<TR><TD>WheelsOff</TD><TD>Wheels Off Time (local time: hhmm)</TD></TR>
	<TR><TD>WheelsOn</TD><TD>Wheels On Time (local time: hhmm)</TD></TR>
	<TR><TD>TaxiIn</TD><TD>Taxi In Time, in Minutes</TD></TR>
	<TR><TD>CRSArrTime</TD><TD>CRS Arrival Time (local time: hhmm)</TD></TR>
	<TR><TD>ArrTime</TD><TD>Actual Arrival Time (local time: hhmm)</TD></TR>
	<TR><TD>ArrDelay</TD><TD>Difference in minutes between scheduled and actual arrival time. Early arrivals show negative numbers.</TD></TR>
	<TR><TD>ArrDelayMinutes</TD><TD>Difference in minutes between scheduled and actual arrival time. Early arrivals set to 0.</TD></TR>
	<TR><TD>ArrDel15</TD><TD>Arrival Delay Indicator, 15 Minutes or More (1=Yes)</TD></TR>
	<TR><TD>ArrivalDelayGroups</TD><TD>Arrival Delay intervals, every (15-minutes from <-15 to >180)</TD></TR>
	<TR><TD>ArrTimeBlk</TD><TD>CRS Arrival Time Block, Hourly Intervals</TD></TR>
	<TR><TD>Cancelled</TD><TD>Cancelled Flight Indicator (1=Yes)</TD></TR>
	<TR><TD>CancellationCode</TD><TD>Specifies The Reason For Cancellation</TD></TR>
	<TR><TD>Diverted</TD><TD>Diverted Flight Indicator (1=Yes)</TD></TR>
	<TR><TD>CRSElapsedTime</TD><TD>CRS Elapsed Time of Flight, in Minutes</TD></TR>
	<TR><TD>ActualElapsedTime</TD><TD>Elapsed Time of Flight, in Minutes</TD></TR>
	<TR><TD>AirTime</TD><TD>Flight Time, in Minutes</TD></TR>
	<TR><TD>Flights</TD><TD>Number of Flights</TD></TR>
	<TR><TD>Distance</TD><TD>Distance between airports (miles)</TD></TR>
	<TR><TD>DistanceGroup</TD><TD>Distance Intervals, every 250 Miles, for Flight Segment</TD></TR>
	<TR><TD>CarrierDelay</TD><TD>Carrier Delay, in Minutes</TD></TR>
	<TR><TD>WeatherDelay</TD><TD>Weather Delay, in Minutes</TD></TR>
	<TR><TD>NASDelay</TD><TD>National Air System Delay, in Minutes</TD></TR>
	<TR><TD>SecurityDelay</TD><TD>Security Delay, in Minutes</TD></TR>
	<TR><TD>LateAircraftDelay</TD><TD>Late Aircraft Delay, in Minutes</TD></TR>
	<TR><TD>FirstDepTime</TD><TD>First Gate Departure Time at Origin Airport</TD></TR>
	<TR><TD>TotalAddGTime</TD><TD>Total Ground Time Away from Gate for Gate Return or Cancelled Flight</TD></TR>
	<TR><TD>LongestAddGTime</TD><TD>Longest Time Away from Gate for Gate Return or Cancelled Flight</TD></TR>
	<TR><TD>DivAirportLandings</TD><TD>Number of Diverted Airport Landings</TD></TR>
	<TR><TD>DivReachedDest</TD><TD>Diverted Flight Reaching Scheduled Destination Indicator (1=Yes)</TD></TR>
	<TR><TD>DivActualElapsedTime</TD><TD>Elapsed Time of Diverted Flight Reaching Scheduled Destination, in Minutes.  The ActualElapsedTime column remains NULL for all diverted flights.</TD></TR>
	<TR><TD>DivArrDelay</TD><TD>Difference in minutes between scheduled and actual arrival time for a diverted flight reaching scheduled destination.  The ArrDelay column remains NULL for all diverted flights.</TD></TR>
	<TR><TD>DivDistance</TD><TD>Distance between scheduled destination and final diverted airport (miles).  Value will be 0 for diverted flight reaching scheduled destination.</TD></TR>
	<TR><TD>Div1Airport</TD><TD>Diverted Airport Code1</TD></TR>
	<TR><TD>Div1AirportID</TD><TD>Airport ID of Diverted Airport 1. Airport ID is a Unique Key for an Airport</TD></TR>
	<TR><TD>Div1AirportSeqID</TD><TD>Airport Sequence ID of Diverted Airport 1. Unique Key for Time Specific Information for an Airport</TD></TR>
	<TR><TD>Div1WheelsOn</TD><TD>Wheels On Time (local time: hhmm) at Diverted Airport Code1</TD></TR>
	<TR><TD>Div1TotalGTime</TD><TD>Total Ground Time Away from Gate at Diverted Airport Code1</TD></TR>
	<TR><TD>Div1LongestGTime</TD><TD>Longest Ground Time Away from Gate at Diverted Airport Code1</TD></TR>
	<TR><TD>Div1WheelsOff</TD><TD>Wheels Off Time (local time: hhmm) at Diverted Airport Code1</TD></TR>
	<TR><TD>Div1TailNum</TD><TD>Aircraft Tail Number for Diverted Airport Code1</TD></TR>
	<TR><TD>Div2Airport</TD><TD>Diverted Airport Code2</TD></TR>
	<TR><TD>Div2AirportID</TD><TD>Airport ID of Diverted Airport 2. Airport ID is a Unique Key for an Airport</TD></TR>
	<TR><TD>Div2AirportSeqID</TD><TD>Airport Sequence ID of Diverted Airport 2. Unique Key for Time Specific Information for an Airport</TD></TR>
	<TR><TD>Div2WheelsOn</TD><TD>Wheels On Time (local time: hhmm) at Diverted Airport Code2</TD></TR>
	<TR><TD>Div2TotalGTime</TD><TD>Total Ground Time Away from Gate at Diverted Airport Code2</TD></TR>
	<TR><TD>Div2LongestGTime</TD><TD>Longest Ground Time Away from Gate at Diverted Airport Code2</TD></TR>
	<TR><TD>Div2WheelsOff</TD><TD>Wheels Off Time (local time: hhmm) at Diverted Airport Code2</TD></TR>
	<TR><TD>Div2TailNum</TD><TD>Aircraft Tail Number for Diverted Airport Code2</TD></TR>
	<TR><TD>Div3Airport</TD><TD>Diverted Airport Code3</TD></TR>
	<TR><TD>Div3AirportID</TD><TD>Airport ID of Diverted Airport 3. Airport ID is a Unique Key for an Airport</TD></TR>
	<TR><TD>Div3AirportSeqID</TD><TD>Airport Sequence ID of Diverted Airport 3. Unique Key for Time Specific Information for an Airport</TD></TR>
	<TR><TD>Div3WheelsOn</TD><TD>Wheels On Time (local time: hhmm) at Diverted Airport Code3</TD></TR>
	<TR><TD>Div3TotalGTime</TD><TD>Total Ground Time Away from Gate at Diverted Airport Code3</TD></TR>
	<TR><TD>Div3LongestGTime</TD><TD>Longest Ground Time Away from Gate at Diverted Airport Code3</TD></TR>
	<TR><TD>Div3WheelsOff</TD><TD>Wheels Off Time (local time: hhmm) at Diverted Airport Code3</TD></TR>
	<TR><TD>Div3TailNum</TD><TD>Aircraft Tail Number for Diverted Airport Code3</TD></TR>
	<TR><TD>Div4Airport</TD><TD>Diverted Airport Code4</TD></TR>
	<TR><TD>Div4AirportID</TD><TD>Airport ID of Diverted Airport 4. Airport ID is a Unique Key for an Airport</TD></TR>
	<TR><TD>Div4AirportSeqID</TD><TD>Airport Sequence ID of Diverted Airport 4. Unique Key for Time Specific Information for an Airport</TD></TR>
	<TR><TD>Div4WheelsOn</TD><TD>Wheels On Time (local time: hhmm) at Diverted Airport Code4</TD></TR>
	<TR><TD>Div4TotalGTime</TD><TD>Total Ground Time Away from Gate at Diverted Airport Code4</TD></TR>
	<TR><TD>Div4LongestGTime</TD><TD>Longest Ground Time Away from Gate at Diverted Airport Code4</TD></TR>
	<TR><TD>Div4WheelsOff</TD><TD>Wheels Off Time (local time: hhmm) at Diverted Airport Code4</TD></TR>
	<TR><TD>Div4TailNum</TD><TD>Aircraft Tail Number for Diverted Airport Code4</TD></TR>
	<TR><TD>Div5Airport</TD><TD>Diverted Airport Code5</TD></TR>
	<TR><TD>Div5AirportID</TD><TD>Airport ID of Diverted Airport 5. Airport ID is a Unique Key for an Airport</TD></TR>
	<TR><TD>Div5AirportSeqID</TD><TD>Airport Sequence ID of Diverted Airport 5. Unique Key for Time Specific Information for an Airport</TD></TR>
	<TR><TD>Div5WheelsOn</TD><TD>Wheels On Time (local time: hhmm) at Diverted Airport Code5</TD></TR>
	<TR><TD>Div5TotalGTime</TD><TD>Total Ground Time Away from Gate at Diverted Airport Code5</TD></TR>
	<TR><TD>Div5LongestGTime</TD><TD>Longest Ground Time Away from Gate at Diverted Airport Code5</TD></TR>
	<TR><TD>Div5WheelsOff</TD><TD>Wheels Off Time (local time: hhmm) at Diverted Airport Code5</TD></TR>
	<TR><TD>Div5TailNum</TD><TD>Aircraft Tail Number for Diverted Airport Code5</TD></TR>
	</TABLE>
</BODY>
</HTML>

The readme file is html. Luckily, we are working in an html environment. 

### Display the contents of `readme.html` within the notebook
(Hint: check out [IPython.display.IFrame](https://ipython.org/ipython-doc/3/api/generated/IPython.display.html))

In [17]:
#leerlo de forma mas bonita

from IPython.display import IFrame
IFrame('readme.html', width=700, height=350)

That's some very good documentation!

### Summary: 

The files within the zip are " quoted csv's. They contain information on timeliness of departures in the US, at the departure level.

In [18]:
# have a look at the beginning of one of the files to see what they look like
#ver por encima al csv

! unzip -p {path_to_zips}On_Time_On_Time_Performance_2015_1.zip | head -n 2

"Year","Quarter","Month","DayofMonth","DayOfWeek","FlightDate","UniqueCarrier","AirlineID","Carrier","TailNum","FlightNum","OriginAirportID","OriginAirportSeqID","OriginCityMarketID","Origin","OriginCityName","OriginState","OriginStateFips","OriginStateName","OriginWac","DestAirportID","DestAirportSeqID","DestCityMarketID","Dest","DestCityName","DestState","DestStateFips","DestStateName","DestWac","CRSDepTime","DepTime","DepDelay","DepDelayMinutes","DepDel15","DepartureDelayGroups","DepTimeBlk","TaxiOut","WheelsOff","WheelsOn","TaxiIn","CRSArrTime","ArrTime","ArrDelay","ArrDelayMinutes","ArrDel15","ArrivalDelayGroups","ArrTimeBlk","Cancelled","CancellationCode","Diverted","CRSElapsedTime","ActualElapsedTime","AirTime","Flights","Distance","DistanceGroup","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay","FirstDepTime","TotalAddGTime","LongestAddGTime","DivAirportLandings","DivReachedDest","DivActualElapsedTime","DivArrDelay","DivDistance","Div1Airport","Div1AirportID","Div1AirportSeqID","Div1WheelsOn","Div1TotalGTime","Div1LongestGTime","Div1WheelsOff","Div1TailNum","Div2Airport","Div2AirportID","Div2AirportSeqID","Div2WheelsOn","Div2TotalGTime","Div2LongestGTime","Div2WheelsOff","Div2TailNum","Div3Airport","Div3AirportID","Div3AirportSeqID","Div3WheelsOn","Div3TotalGTime","Div3LongestGTime","Div3WheelsOff","Div3TailNum","Div4Airport","Div4AirportID","Div4AirportSeqID","Div4WheelsOn","Div4TotalGTime","Div4LongestGTime","Div4WheelsOff","Div4TailNum","Div5Airport","Div5AirportID","Div5AirportSeqID","Div5WheelsOn","Div5TotalGTime","Div5LongestGTime","Div5WheelsOff","Div5TailNum",
2015,1,1,1,4,2015-01-01,"AA",19805,"AA","N787AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0855",-5.00,0.00,0.00,-1,"0900-0959",17.00,"0912","1230",7.00,"1230","1237",7.00,7.00,0.00,0,"1200-1259",0.00,"",0.00,390.00,402.00,378.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",

Pretty unreadable, so we go for a tool designed specifically for tabular data: **pandas**

### Load some of the data (one of the files) into memory as a pandas dataframe. What functions do you need to use?

Pro tip: there is no need to decompress the whole file. Check out zipfile.ZipFile

First, open a connection to one of the files

**Note:** *remember that all the files are indeed part files of the same .zip. And the Readme file is within the .zip.*

In [48]:
path_to_zips2="/home/dsc/Data/us_dot/otp/"

In [62]:
!ls {path_to_zips2}

fichero.hist				On_Time_On_Time_Performance_2015_6.zip
On_Time_On_Time_Performance_2015_1.zip	On_Time_On_Time_Performance_2015_7.zip
On_Time_On_Time_Performance_2015_2.zip	On_Time_On_Time_Performance_2015_8.zip
On_Time_On_Time_Performance_2015_3.zip	Text_example
On_Time_On_Time_Performance_2015_4.zip	three_largest_file.txt
On_Time_On_Time_Performance_2015_5.zip	thre_largest_file.txt

In [51]:
# para no tener que que descomprimir para sacar el csv
#filenames [0], es el primer archivo 1 en mi caso porque es el segundo archivo el csv
import os
import zipfile

filenames = os.listdir(path_to_zips2)

zip_file = zipfile.ZipFile(path_to_zips2 + filenames[1])

In [52]:
print(filenames)

['thre_largest_file.txt', 'On_Time_On_Time_Performance_2015_2.zip', 'On_Time_On_Time_Performance_2015_8.zip', 'On_Time_On_Time_Performance_2015_4.zip', 'On_Time_On_Time_Performance_2015_3.zip', 'Text_example', 'fichero.hist', 'three_largest_file.txt', 'On_Time_On_Time_Performance_2015_7.zip', 'On_Time_On_Time_Performance_2015_1.zip', 'On_Time_On_Time_Performance_2015_6.zip', 'On_Time_On_Time_Performance_2015_5.zip']

zip_file is a connection to the compressed file, the .zip. We can use it to open a connection to one of the files it contains, which will behave like a normal uncompressed file that we had opened with open()

In [53]:
csv, readme = zip_file.filelist
print(csv)

csv_file = zip_file.open(csv.filename)

<ZipInfo filename='On_Time_On_Time_Performance_2015_2.csv' compress_type=deflate filemode='-rw-r--r--' file_size=192791767 compress_size=21227521>

Now we're ready to load the file into memory as a pandas dataframe. Remember to close the connections to the files!

In [54]:
# We reopen the file because we have already consumed the header line.
import pandas as pd

csv_file = zip_file.open(csv.filename)
df = pd.read_csv(csv_file)

csv_file.close()
zip_file.close()

/home/dsc/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Let's start examining the data: show the beginning of the file. How many records does it contain?

In [55]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,2,7,6,2015-02-07,AS,19930,AS,N618AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,2,7,6,2015-02-07,AS,19930,AS,N778AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,2,7,6,2015-02-07,AS,19930,AS,N586AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,2,7,6,2015-02-07,AS,19930,AS,N615AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,2,7,6,2015-02-07,AS,19930,AS,N471AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#exploracion

In [63]:
df.tail()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
429186,2015,1,2,13,5,2015-02-13,OO,20304,OO,N786SK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429187,2015,1,2,17,2,2015-02-17,OO,20304,OO,N767SK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429188,2015,1,2,11,3,2015-02-11,OO,20304,OO,N702SK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429189,2015,1,2,4,3,2015-02-04,OO,20304,OO,N743SK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429190,2015,1,2,4,3,2015-02-04,OO,20304,OO,N744SK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
#numero de columnas y filas
df.shape

(429191, 110)

In [58]:
#multical filas por columnas (size es el numero de elementos)
print(df.size)
df.size == df.shape[0] * df.shape[1]

47211010

True

In [59]:
df.dtypes

Year                    int64
Quarter                 int64
Month                   int64
DayofMonth              int64
DayOfWeek               int64
FlightDate             object
UniqueCarrier          object
AirlineID               int64
Carrier                object
TailNum                object
FlightNum               int64
OriginAirportID         int64
OriginAirportSeqID      int64
OriginCityMarketID      int64
Origin                 object
OriginCityName         object
OriginState            object
OriginStateFips         int64
OriginStateName        object
OriginWac               int64
DestAirportID           int64
DestAirportSeqID        int64
DestCityMarketID        int64
Dest                   object
DestCityName           object
DestState              object
DestStateFips           int64
DestStateName          object
DestWac                 int64
CRSDepTime              int64
                       ...
Div2WheelsOn          float64
Div2TotalGTime        float64
Div2LongestGTime      float64
Div2WheelsOff         float64
Div2TailNum            object
Div3Airport           float64
Div3AirportID         float64
Div3AirportSeqID      float64
Div3WheelsOn          float64
Div3TotalGTime        float64
Div3LongestGTime      float64
Div3WheelsOff         float64
Div3TailNum           float64
Div4Airport           float64
Div4AirportID         float64
Div4AirportSeqID      float64
Div4WheelsOn          float64
Div4TotalGTime        float64
Div4LongestGTime      float64
Div4WheelsOff         float64
Div4TailNum           float64
Div5Airport           float64
Div5AirportID         float64
Div5AirportSeqID      float64
Div5WheelsOn          float64
Div5TotalGTime        float64
Div5LongestGTime      float64
Div5WheelsOff         float64
Div5TailNum           float64
Unnamed: 109          float64
Length: 110, dtype: object

In [64]:
df.describe()

,Year,Quarter,Month,DayofMonth,DayOfWeek,AirlineID,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,429191.0,429191.0,429191.0,429191.000000,429191.000000,429191.000000,429191.000000,429191.000000,4.291910e+05,429191.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2015.0,1.0,2.0,14.601581,3.902675,19980.135406,2261.363365,12666.278533,1.266631e+06,31711.406646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,8.040341,1.976684,397.065352,1795.537547,1518.082489,1.518079e+05,1282.355657,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2015.0,1.0,2.0,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013503e+06,30070.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2015.0,1.0,2.0,8.000000,2.000000,19790.000000,756.000000,11292.000000,1.129202e+06,30627.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2015.0,1.0,2.0,15.000000,4.000000,19977.000000,1731.000000,12889.000000,1.288903e+06,31453.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2015.0,1.0,2.0,22.000000,6.000000,20366.000000,3495.000000,13930.000000,1.393003e+06,32467.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2015.0,1.0,2.0,28.000000,7.000000,21171.000000,9320.000000,16218.000000,1.621801e+06,35991.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df.count()

Year                  429191
Quarter               429191
Month                 429191
DayofMonth            429191
DayOfWeek             429191
FlightDate            429191
UniqueCarrier         429191
AirlineID             429191
Carrier               429191
TailNum               425597
FlightNum             429191
OriginAirportID       429191
OriginAirportSeqID    429191
OriginCityMarketID    429191
Origin                429191
OriginCityName        429191
OriginState           429191
OriginStateFips       429191
OriginStateName       429191
OriginWac             429191
DestAirportID         429191
DestAirportSeqID      429191
DestCityMarketID      429191
Dest                  429191
DestCityName          429191
DestState             429191
DestStateFips         429191
DestStateName         429191
DestWac               429191
CRSDepTime            429191
                       ...
Div2WheelsOn              14
Div2TotalGTime            14
Div2LongestGTime          14
Div2WheelsOff              1
Div2TailNum                1
Div3Airport                0
Div3AirportID              0
Div3AirportSeqID           0
Div3WheelsOn               0
Div3TotalGTime             0
Div3LongestGTime           0
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
Length: 110, dtype: int64

In [69]:
#contar todos los NaN y con esto veriamos el contador de no nulos por cada columna
not_null_count = df.count()

In [70]:
#sacar las columnas que tengan mas de  1000 nulos

not_null_count [not_null_count < 1000]

DivActualElapsedTime    706
DivArrDelay             706
Div1WheelsOff           719
Div1TailNum             719
Div2Airport              14
Div2AirportID            14
Div2AirportSeqID         14
Div2WheelsOn             14
Div2TotalGTime           14
Div2LongestGTime         14
Div2WheelsOff             1
Div2TailNum               1
Div3Airport               0
Div3AirportID             0
Div3AirportSeqID          0
Div3WheelsOn              0
Div3TotalGTime            0
Div3LongestGTime          0
Div3WheelsOff             0
Div3TailNum               0
Div4Airport               0
Div4AirportID             0
Div4AirportSeqID          0
Div4WheelsOn              0
Div4TotalGTime            0
Div4LongestGTime          0
Div4WheelsOff             0
Div4TailNum               0
Div5Airport               0
Div5AirportID             0
Div5AirportSeqID          0
Div5WheelsOn              0
Div5TotalGTime            0
Div5LongestGTime          0
Div5WheelsOff             0
Div5TailNum               0
Unnamed: 109              0
dtype: int64

In [72]:
df.drop?

In [80]:
#cargarnos las columnas que no queremos usar. Axis=1 para quitar columnas
#drop por defecto elimina filas
dfsinNan = df.drop(df.columns[not_null_count < 1000], axis=1)

In [81]:
dfsinNan.count()

Year                  429191
Quarter               429191
Month                 429191
DayofMonth            429191
DayOfWeek             429191
FlightDate            429191
UniqueCarrier         429191
AirlineID             429191
Carrier               429191
TailNum               425597
FlightNum             429191
OriginAirportID       429191
OriginAirportSeqID    429191
OriginCityMarketID    429191
Origin                429191
OriginCityName        429191
OriginState           429191
OriginStateFips       429191
OriginStateName       429191
OriginWac             429191
DestAirportID         429191
DestAirportSeqID      429191
DestCityMarketID      429191
Dest                  429191
DestCityName          429191
DestState             429191
DestStateFips         429191
DestStateName         429191
DestWac               429191
CRSDepTime            429191
                       ...
ArrDelayMinutes       407663
ArrDel15              407663
ArrivalDelayGroups    407663
ArrTimeBlk            429191
Cancelled             429191
CancellationCode       20517
Diverted              429191
CRSElapsedTime        429189
ActualElapsedTime     407663
AirTime               407663
Flights               429191
Distance              429191
DistanceGroup         429191
CarrierDelay           95179
WeatherDelay           95179
NASDelay               95179
SecurityDelay          95179
LateAircraftDelay      95179
FirstDepTime            3018
TotalAddGTime           3018
LongestAddGTime         3018
DivAirportLandings    429191
DivReachedDest          1011
DivDistance             1011
Div1Airport             1116
Div1AirportID           1116
Div1AirportSeqID        1116
Div1WheelsOn            1116
Div1TotalGTime          1116
Div1LongestGTime        1116
Length: 73, dtype: int64

## Trimming the data

The table is quite wide, and it seems that there are many columns without much data. Which, exactly, are those? (let's consider empty a column that doesn't contain at least 1000 records, arbitrarily)

In [114]:
non_null_counts = df.count()

non_null_counts[non_null_counts < 1000]

DivActualElapsedTime    706
DivArrDelay             706
Div1WheelsOff           719
Div1TailNum             719
Div2Airport              14
Div2AirportID            14
Div2AirportSeqID         14
Div2WheelsOn             14
Div2TotalGTime           14
Div2LongestGTime         14
Div2WheelsOff             1
Div2TailNum               1
Div3Airport               0
Div3AirportID             0
Div3AirportSeqID          0
Div3WheelsOn              0
Div3TotalGTime            0
Div3LongestGTime          0
Div3WheelsOff             0
Div3TailNum               0
Div4Airport               0
Div4AirportID             0
Div4AirportSeqID          0
Div4WheelsOn              0
Div4TotalGTime            0
Div4LongestGTime          0
Div4WheelsOff             0
Div4TailNum               0
Div5Airport               0
Div5AirportID             0
Div5AirportSeqID          0
Div5WheelsOn              0
Div5TotalGTime            0
Div5LongestGTime          0
Div5WheelsOff             0
Div5TailNum               0
Unnamed: 109              0
dtype: int64

It seems that the "diverted" fields, after the first, are often empty. No big surprise, since not that many flights must be diverted more than once in a month. Let's drop those columns, since we are not that interested in those, at least for now.

In [115]:
# Dropping inplace leads to confusion. Confusion leads to fear. 
# Fear leads to anger. Anger leads to hate. Hate leads to suffering.
df2 = df.drop(df.columns[non_null_counts < 1000], axis=1)

In [116]:
df2.shape

(429191, 73)

In [117]:
# Another way to do it

df.dropna(axis=1, thresh=1000).shape == df2.shape

True

Now that we have eliminated some inconvenient data columns, let's have a look at the rest: let's loook at how the location data is encoded.

#### Exercise:

First, generate a list of the columns that have 'Origin' in their name

Second, show a sample of the values that those columns take.

Hint: we are going to use the str attribute of Series and Indexes

In [108]:
#generar lista columnas donde contienen Origin
#sample es aleaotiro

dfsinNan[dfsinNan.columns[dfsinNan.columns.str.contains('Origin')]].sample(5)

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
417677,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36
333316,11298,1129803,30194,DFW,"Dallas/Fort Worth, TX",TX,48,Texas,74
427795,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38
257698,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34
155475,10529,1052904,30529,BDL,"Hartford, CT",CT,9,Connecticut,11

So much redundant information!

## Fast forward

Just taking out the redundant columns would take a while, so let's jump ahead with this list of interesting columns:

In [118]:
df2 = df[['FlightDate', 'DayOfWeek', 'Carrier', 'TailNum', 'FlightNum', 'Origin', 
         'OriginCityName', 'OriginStateName', 'Dest', 'DestCityName', 'DestStateName',
         'DepTime', 'DepDelay', 'AirTime', 'Distance']]
df.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
290922,2015,1,2,21,6,2015-02-21,WN,19393,WN,N616SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395243,2015,1,2,9,1,2015-02-09,UA,19977,UA,N77295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56134,2015,1,2,5,4,2015-02-05,EV,20366,EV,N615QX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135654,2015,1,2,10,2,2015-02-10,AA,19805,AA,N3JBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39860,2015,1,2,6,5,2015-02-06,EV,20366,EV,N16561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Formatting columns and parsing dates and times

Hurray! we have almost cleaned our dataset. Soon we will begin to do some actual work with it.

In [119]:
df2.dtypes

FlightDate          object
DayOfWeek            int64
Carrier             object
TailNum             object
FlightNum            int64
Origin              object
OriginCityName      object
OriginStateName     object
Dest                object
DestCityName        object
DestStateName       object
DepTime            float64
DepDelay           float64
AirTime            float64
Distance           float64
dtype: object

Pandas interpreted the Deptime column as ints and the FlighDate column as strings. We want to combine them and parse them into a DateTime column, so that we can use them properly as datetimes.

First step:

#### Exercise

Define a function that will parse our int hours into a reasonable format ("HH:MM"). It should take only one int hour and return the appropriate representation.

In [110]:
#Defina una función que analizará nuestras horas int en un formato razonable ("HH:MM"). 
#Solo debería tomar una hora int y devolver la representación adecuada.

In [ ]:
#ejemplo de un numero 5:10 nos sale reflejado 510, lo sacamos con resto de 100 y divisible de 100

In [156]:
#coger la hora de la colunma deptime que devuelva hh mm
def deptime_to_string (num):   
    hour = int (num/100) % 24
    minutos = int(num % 100)
    
    return "%02d:%02d" % (hour, minutos)

In [133]:
deptime_to_string(1515)

'15:15'

In [ ]:
# We'll need to take an int and return a string of the appropriate format
import numpy as np
def deptime_to_string(num):
    if num!=num:#If np.nan better handle this
        num =0.0;

    hour = int(num / 100) % 24 # There are 24s in the data, which datetime doesn't like
    minute = int(num % 100)
    

    return '%02d:%02d' % (hour, minute)

deptime_to_string(2423.0)
#deptime_to_string(np.nan)

Now, we can use that function to build datetime strings that we will then pass to pd.to_datetime, with a format we will specify. Let's do that

Hint: Check out [pd.to_datetime's documentatoin](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html) for info on the acceptable format.

#### Exercise

Overwrite the 'DepTime' column with its version in the proper format

Hint: Before overwriting your column in the dataframe, make sure that everything works by assigning the modified column to a Series variable (this takes care of not messing up with the index!).

In [131]:
#Sobrescriba la columna 'DepTime' con su versión en el formato adecuado
#Sugerencia: antes de sobreescribir su columna en el marco de datos,
#asegúrese de que todo funciona asignando la columna modificada a
#una variable de serie (¡esto se ocupa de no estropear el índice!).

In [158]:
#aplicamos una funcion creada por nonosotros en una columna. como nos va a dar eror por los NaN hay que quitarlo

serie = df2["DepTime"].dropna().apply(deptime_to_string)
serie.head()

0    09:59
1    17:17
2    11:32
3    22:01
4    19:41
Name: DepTime, dtype: object

In [159]:
serie.shape

(409132,)

In [160]:
#comparamos con el total
df2["DepTime"].shape

(429191,)

In [161]:
#series = df2['DepTime'].apply(deptime_to_string)
series = df2['DepTime'].dropna().apply(deptime_to_string)
series.head()

0    09:59
1    17:17
2    11:32
3    22:01
4    19:41
Name: DepTime, dtype: object

In [162]:
df2['DepTimeStr'] = series

/home/dsc/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [163]:
# What happened to the nas? They are still nas, because our 
# Series didn't contain them. Therefore, when we put the 
# Series back into the Dataframe, those cells stayed empty.
df2['DepTimeStr'].count()

409132

#### Exercise

Now, create a DepDateTime with the proper type using `pd.to_datetime`

In [164]:
df2["DepTimeStr"].head()

0    09:59
1    17:17
2    11:32
3    22:01
4    19:41
Name: DepTimeStr, dtype: object

In [165]:
df2["FlightDate"].head()

0    2015-02-07
1    2015-02-07
2    2015-02-07
3    2015-02-07
4    2015-02-07
Name: FlightDate, dtype: object

In [ ]:
#creamos una columna nueva y borramos lo que queremos, ya la hemos ejecutado y dara error

#creamos una colmuna combinando columnas
departure_datetimes = pd.to_datetime(df2['FlightDate'] + ' ' + df2['DepTimeStr'])
df2['DepDateTime'] = departure_datetimes

# Drop the now-redundant columns
df2 = df2.drop(['FlightDate', 'DepTime', 'DepTimeStr'], axis=1)

In [152]:
# This is the format pd.to_datetime needs:

ts = pd.to_datetime('2015-01-15 08:30')
ts

Timestamp('2015-01-15 08:30:00')

In [182]:
df2.sample(5)

,DayOfWeek,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,Dest,DestCityName,DestStateName,DepDelay,AirTime,Distance,DepDateTime
415260,5,US,N751UW,1938,CLT,"Charlotte, NC",North Carolina,ORF,"Norfolk, VA",Virginia,4.0,49.0,290.0,2015-02-06 20:24:00
258307,1,WN,N368SW,4564,LAX,"Los Angeles, CA",California,PHX,"Phoenix, AZ",Arizona,5.0,55.0,370.0,2015-02-09 09:50:00
151962,4,AS,N553AS,14,SEA,"Seattle, WA",Washington,EWR,"Newark, NJ",New Jersey,6.0,276.0,2402.0,2015-02-19 16:01:00
116613,5,AA,N019AA,971,DFW,"Dallas/Fort Worth, TX",Texas,ELP,"El Paso, TX",Texas,-5.0,86.0,551.0,2015-02-20 11:40:00
84062,2,MQ,N696MQ,3156,SJT,"San Angelo, TX",Texas,DFW,"Dallas/Fort Worth, TX",Texas,-3.0,41.0,229.0,2015-02-10 12:02:00

### Inspect the types, see if everything is in order

In [183]:
df2.dtypes

DayOfWeek                   int64
Carrier                    object
TailNum                    object
FlightNum                   int64
Origin                     object
OriginCityName             object
OriginStateName            object
Dest                       object
DestCityName               object
DestStateName              object
DepDelay                  float64
AirTime                   float64
Distance                  float64
DepDateTime        datetime64[ns]
dtype: object

## Examining the data

Finally clean! Let's start to do some preliminary work on the data.

#### Exercise:

Find the biggest delays. 

How would you find the 5 maximum delays?

In [190]:
#poner los maximos depDelay
#primero vemos que hay

df2["DepDelay"].sample(5)

315375    73.0
223427    13.0
422018    -9.0
194308    -9.0
258695    -4.0
Name: DepDelay, dtype: float64

In [195]:
#buscar los maximos
#by donde buscas
#ascension false al contratio

df2.sort_values(by = "DepDelay",ascending = False).head()

,DayOfWeek,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,Dest,DestCityName,DestStateName,DepDelay,AirTime,Distance,DepDateTime
126203,6,AA,N028AA,1312,STL,"St. Louis, MO",Missouri,MIA,"Miami, FL",Florida,1587.0,131.0,1068.0,2015-02-28 08:47:00
117050,7,AA,N007AA,1080,EGE,"Eagle, CO",Colorado,ORD,"Chicago, IL",Illinois,1457.0,123.0,1007.0,2015-02-22 14:32:00
73864,7,HA,N374HA,50,HNL,"Honolulu, HI",Hawaii,JFK,"New York, NY",New York,1433.0,498.0,4983.0,2015-02-08 16:23:00
73885,1,HA,N374HA,51,JFK,"New York, NY",New York,HNL,"Honolulu, HI",Hawaii,1429.0,684.0,4983.0,2015-02-09 09:24:00
131625,4,AA,N3ASAA,1564,PHX,"Phoenix, AZ",Arizona,ORD,"Chicago, IL",Illinois,1367.0,167.0,1440.0,2015-02-19 05:54:00

#### Exercise

What was the average delay for this month? Standard deviation and typical value?

In [196]:
#media y desviacion tipica

#vemos:
df2['DepDelay'].describe()

count    409132.000000
mean         11.885284
std          40.143735
min         -61.000000
25%          -4.000000
50%          -1.000000
75%          11.000000
max        1587.000000
Name: DepDelay, dtype: float64

In [ ]:
df2['DepDelay'].describe()

Also: a quick look at the correlation between the numerical variables is extremely easy with pandas:

In [ ]:
df2.corr()

In [197]:
#saber la correlacion de retraso sobre el aeropuerto

df2.corr()

           DayOfWeek  FlightNum  DepDelay   AirTime  Distance
DayOfWeek   1.000000   0.015379 -0.018116  0.015865  0.021141
FlightNum   0.015379   1.000000  0.002797 -0.333575 -0.349537
DepDelay   -0.018116   0.002797  1.000000  0.021388  0.020472
AirTime     0.015865  -0.333575  0.021388  1.000000  0.977982
Distance    0.021141  -0.349537  0.020472  0.977982  1.000000

#### Exercise

What is the origin that has the highest average delay? We'll first group by tail number (the *license plate* of a plane) and then calculate the relevant statistic for each group (group of *departures*)

In [200]:
#agrupar por variable origin

grouped_by_plane = df2.groupby("Origin")

In [206]:
#media de retraso sobre origen y muestro 5 ejemplos

grouped_by_plane["DepDelay"].mean().sample(5)

Origin
APN    14.093023
AVL    17.442529
MFE     8.714286
CIU     7.687500
MCO    12.472055
Name: DepDelay, dtype: float64

In [210]:
df2.groupby("Origin").mean().sample(5)

        DayOfWeek    FlightNum   DepDelay     AirTime    Distance
Origin
ADQ      4.000000    40.000000  -6.458333   40.541667  253.000000
BPT      3.925926  2806.876543  14.684932   51.041096  270.000000
CAK      3.828794  2356.994163   7.735656   88.668033  581.503891
TTN      3.970874   929.126214  49.747423  126.259067  814.567961
HOU      3.828551  1563.888331   7.910319   94.553312  693.655428

In [223]:
#mostrar los 10 mas altos de media de DepDelay
df2.groupby("Origin").mean().sort_values(by= "DepDelay", ascending=False).head(10)

        DayOfWeek    FlightNum   DepDelay     AirTime    Distance
Origin
TTN      3.970874   929.126214  49.747423  126.259067  814.567961
ILG      4.000000  1267.095238  40.789474  130.777778  863.095238
UST      3.076923  1050.615385  39.000000  106.000000  801.000000
SMX      4.000000  5881.160714  32.327273   37.127273  134.000000
JLN      4.000000  3202.500000  31.120000   58.812500  327.000000
PLN      3.653061  4704.755102  30.500000   43.760870  243.000000
MKG      4.000000  5396.500000  27.500000   30.869565  118.000000
SCE      4.084746  5677.796610  26.888889   91.648148  516.457627
SUX      3.846154  3277.692308  26.772727   64.795455  436.000000
OTH      4.250000  5394.000000  26.071429   66.357143  412.000000

In [227]:
#añadir tambien count, asique ya tenemos que poner count  ##esta mal

df2.groupby("Origin").agg[("mean", "count")].sort_values(by= "mean", ascending=False).head(10)

TypeError: 'method' object is not subscriptable

In [229]:
#grouped_by_plane = df2.groupby('TailNum')
grouped_by_plane = df2.groupby('Origin')
type(grouped_by_plane)

pandas.core.groupby.DataFrameGroupBy

In [230]:
grouped_by_plane['DepDelay'].mean().sort_values(ascending=False).head(10)

Origin
TTN    49.747423
ILG    40.789474
UST    39.000000
SMX    32.327273
JLN    31.120000
PLN    30.500000
MKG    27.500000
SCE    26.888889
SUX    26.772727
OTH    26.071429
Name: DepDelay, dtype: float64

But the mean can be only meaningful if we had enough samples. Lets check that! We can aggregate *mean* and *count* at the same time.

In [231]:
#delays_by_plane = grouped_by_plane['DepDelay'].agg(['mean', 'count'])
delays_by_origin = grouped_by_plane['DepDelay'].agg(['mean', 'count'])

In [232]:
#delays_by_plane.sort_values('mean', ascending=False)
delays_by_origin.sort_values('mean', ascending=False)

             mean  count
Origin
TTN     49.747423    194
ILG     40.789474     19
UST     39.000000     11
SMX     32.327273     55
JLN     31.120000     50
PLN     30.500000     46
MKG     27.500000     46
SCE     26.888889     54
SUX     26.772727     44
OTH     26.071429     14
SWF     26.060606     66
PBG     25.357143     28
BQN     25.231707     82
SBN     24.646900    371
HPN     24.374798    619
GRI     24.083333     48
BGR     23.421053     19
CRW     23.337662    154
DBQ     22.904762     63
COU     22.303030     99
JFK     22.301747   7271
DRO     21.953333    150
LGA     21.899658   7893
ORD     21.832011  20162
CMI     21.279503    161
SGF     21.028630    489
INL     20.958333     48
ALO     20.955556     45
BOS     20.924010   7251
PAH     20.872340     47
...           ...    ...
SUN      1.725000     80
ITO      1.686957    460
PSC      1.677215    158
HLN      1.504762    105
SCC      1.388060     67
FCA      1.025000    120
RKS      0.962963     54
LCH      0.924528    159
LRD      0.888235    170
FLG      0.786885    122
SGU      0.036765    136
MSO     -0.526786    112
EKO     -0.634615     52
FAI     -0.862319    138
GTF     -1.160305    131
GCC     -1.390244     82
BLI     -2.261905     84
BRD     -2.680851     47
LWS     -2.854167     48
IMT     -3.372549     51
RHI     -4.987500     80
WRG     -5.259259     54
CNY     -5.340426     47
PSG     -5.814815     54
ADQ     -6.458333     24
BTM     -6.500000     54
TWF     -7.320755     53
PIH     -8.519231     52
CDV    -11.333333     54
YAK    -12.254545     55

[315 rows x 2 columns]

Awesome! now, let's look at the average delay of the planes with some departures (let's say, at least 15)

In [233]:
delays_by_origin[delays_by_origin["count"]> 14]

             mean  count
Origin
ABE     16.677632    152
ABI      5.222826    184
ABQ      9.294551   1358
ABR     16.267857     56
ABY      9.630137     73
ACT     11.648649    111
ACV     14.368000    125
ACY      5.065789    304
ADQ     -6.458333     24
AEX      8.004149    241
AGS     11.431034    174
ALB      9.821497    521
ALO     20.955556     45
AMA      7.650831    421
ANC      2.168972   1012
APN     14.093023     43
ASE     15.752747    546
ATL      9.936441  26448
ATW     10.160000    200
AUS      9.395777   2984
AVL     17.442529    174
AVP     16.452381     84
AZO     17.744186    129
BDL     12.153214   1338
BET      4.360000     75
BFL      6.480392    204
BGM     17.361111     36
BGR     23.421053     19
BHM      9.812377   1018
BIL      5.143541    209
...           ...    ...
SPI     11.616071    112
SPS     17.068182     88
SRQ     15.839117    317
STC     19.130435     23
STL     10.599654   3467
STT     15.885167    418
STX     14.777778     81
SUN      1.725000     80
SUX     26.772727     44
SWF     26.060606     66
SYR     14.757106    387
TLH     12.156028    282
TOL     15.373134     67
TPA     10.728542   5301
TRI      6.811189    143
TTN     49.747423    194
TUL      7.436632   1152
TUS      5.819133   1338
TVC     18.840909    176
TWF     -7.320755     53
TXK      1.984127     63
TYR      6.088608    158
TYS     17.085417    480
VEL      2.333333     48
VLD      7.240000     75
VPS     11.883436    326
WRG     -5.259259     54
XNA     19.446559    683
YAK    -12.254545     55
YUM      5.662338    154

[310 rows x 2 columns]

In [234]:
consistently_delayed = delays_by_origin[delays_by_origin['count'] > 14]
highly_delayed = consistently_delayed.sort_values('mean', ascending=False).head(100)

# What companies run the rank 5/10 most delayed?
df2.join(highly_delayed.head(5), on='Origin', how='inner')['Carrier'].unique()

array(['F9', 'MQ', 'OO'], dtype=object)

#### Exercise: 

Show cities by descending number of airports

In [237]:
df2.groupby("OriginCityName")["Origin"].size()

OriginCityName
Aberdeen, SD                         56
Abilene, TX                         215
Adak Island, AK                       8
Aguadilla, PR                        84
Akron, OH                           514
Albany, GA                           75
Albany, NY                          549
Albuquerque, NM                    1410
Alexandria, LA                      262
Allentown/Bethlehem/Easton, PA      163
Alpena, MI                           48
Amarillo, TX                        465
Anchorage, AK                      1029
Appleton, WI                        209
Arcata/Eureka, CA                   131
Asheville, NC                       182
Aspen, CO                           629
Atlanta, GA                       27366
Atlantic City, NJ                   308
Augusta, GA                         177
Austin, TX                         3061
Bakersfield, CA                     206
Baltimore, MD                      6236
Bangor, ME                           21
Barrow, AK                           72
Baton Rouge, LA                     620
Beaumont/Port Arthur, TX             81
Bellingham, WA                       84
Bemidji, MN                          56
Bend/Redmond, OR                    152
                                  ...
State College, PA                    59
Sun Valley/Hailey/Ketchum, ID        88
Syracuse, NY                        423
Tallahassee, FL                     294
Tampa, FL                          5455
Texarkana, AR                        80
Toledo, OH                           80
Traverse City, MI                   194
Trenton, NJ                         206
Tucson, AZ                         1363
Tulsa, OK                          1192
Twin Falls, ID                       53
Tyler, TX                           181
Valdosta, GA                         78
Valparaiso, FL                      346
Vernal, UT                           48
Waco, TX                            134
Washington, DC                     9230
Waterloo, IA                         52
West Palm Beach/Palm Beach, FL     2261
White Plains, NY                    682
Wichita Falls, TX                   103
Wichita, KS                         634
Williston, ND                       235
Wilmington, DE                       21
Wilmington, NC                      130
Worcester, MA                        54
Wrangell, AK                         56
Yakutat, AK                          56
Yuma, AZ                            156
Name: Origin, Length: 311, dtype: int64

In [236]:
#solo se queda sin las repeticiones , unique
df2.groupby("OriginCityName")["Origin"].unique()

OriginCityName
Aberdeen, SD                           [ABR]
Abilene, TX                            [ABI]
Adak Island, AK                        [ADK]
Aguadilla, PR                          [BQN]
Akron, OH                              [CAK]
Albany, GA                             [ABY]
Albany, NY                             [ALB]
Albuquerque, NM                        [ABQ]
Alexandria, LA                         [AEX]
Allentown/Bethlehem/Easton, PA         [ABE]
Alpena, MI                             [APN]
Amarillo, TX                           [AMA]
Anchorage, AK                          [ANC]
Appleton, WI                           [ATW]
Arcata/Eureka, CA                      [ACV]
Asheville, NC                          [AVL]
Aspen, CO                              [ASE]
Atlanta, GA                            [ATL]
Atlantic City, NJ                      [ACY]
Augusta, GA                            [AGS]
Austin, TX                             [AUS]
Bakersfield, CA                        [BFL]
Baltimore, MD                          [BWI]
Bangor, ME                             [BGR]
Barrow, AK                             [BRW]
Baton Rouge, LA                        [BTR]
Beaumont/Port Arthur, TX               [BPT]
Bellingham, WA                         [BLI]
Bemidji, MN                            [BJI]
Bend/Redmond, OR                       [RDM]
                                     ...
State College, PA                      [SCE]
Sun Valley/Hailey/Ketchum, ID          [SUN]
Syracuse, NY                           [SYR]
Tallahassee, FL                        [TLH]
Tampa, FL                              [TPA]
Texarkana, AR                          [TXK]
Toledo, OH                             [TOL]
Traverse City, MI                      [TVC]
Trenton, NJ                            [TTN]
Tucson, AZ                             [TUS]
Tulsa, OK                              [TUL]
Twin Falls, ID                         [TWF]
Tyler, TX                              [TYR]
Valdosta, GA                           [VLD]
Valparaiso, FL                         [VPS]
Vernal, UT                             [VEL]
Waco, TX                               [ACT]
Washington, DC                    [DCA, IAD]
Waterloo, IA                           [ALO]
West Palm Beach/Palm Beach, FL         [PBI]
White Plains, NY                       [HPN]
Wichita Falls, TX                      [SPS]
Wichita, KS                            [ICT]
Williston, ND                          [ISN]
Wilmington, DE                         [ILG]
Wilmington, NC                         [ILM]
Worcester, MA                          [ORH]
Wrangell, AK                           [WRG]
Yakutat, AK                            [YAK]
Yuma, AZ                               [YUM]
Name: Origin, Length: 311, dtype: object

In [239]:
#saber cuantos aeropuertos hay por ciudad
airports_by_city = df2.groupby('OriginCityName')['Origin'].unique()
#We have a list of Airport code for each city now.
airports_by_city.map(lambda x: len(x)).sort_values(ascending=False).head()

OriginCityName
Chicago, IL       2
Houston, TX       2
New York, NY      2
Washington, DC    2
Fargo, ND         1
Name: Origin, dtype: int64

print(df2.groupby('OriginCityName')['Origin'].unique())

## Plotting

There are several ways in which we could go about plotting this dataset in order to get acquainted with it.

For example, do the delays have a relationship with the number of departures a plane does?

#### Exercise

Do a scatter plot with matplotlib. Check the documentation

In [ ]:
import matplotlib.pyplot as plt 
%matplotlib inline

ax = delays_by_origin.plot.scatter('mean', 'count', alpha=.2)
#ax.set_xlim(-20,240)
#ax.set_ylim(-10,240)

#### Exercise:

Plot the distribution of delays as a histogram, both with a linear and a logarithmic scale

In [ ]:
# Little trick: Just by importing seaborn, it will change 
# matplotlib defaults and make your graphs much prettier.!!

import seaborn as sns

ax = df['DepDelay'].hist(bins=500)
ax.set_xlim(-100, 500)

plt.title('Number of flights per delay bin')

In [ ]:
# We can make any axis logarithmic in order to see better a very unequal distribution

ax = df['DepDelay'].hist(bins=500)
ax.set_xlim(-100, 500)
plt.title('Num flights per delay bin')

plt.yscale('log')

### Another question:

how do the delays stack over the course of the day? We are going to look at it by plotting the distribution of delays for each hour of the day. The very best way to compare distributions side by side is a boxplot, so we'll use that.

In [ ]:
help(plt.boxplot)

We need to provide `plt.boxplot()` with a sequence that contains 24 elements. Each of those will be a sequence containing every individual delay for one hour of the day. We'll need, therefore, to extract hours of the day for each departure and group based on that.

In [ ]:
# Now, we can iterate over the groups and extract the delays. 
# We keep them in two different vectors because that is what boxplot wants

df2['DepHour'] =  df2['DepDateTime'].map(lambda x: x.hour)

by_hour = df2.groupby('DepHour')

hours = []
groups = []

for h, g in by_hour:
    hours.append("%02d" % h)
    groups.append(g['DepDelay'])

In [ ]:
# We have create a groupby object. That object behaves like a list.
# Each element of that list is a (key, dataframe) tuple.
# You can think of the key as the group's name. The dataframe
# contains all the rows in the original dataframe that correspond 
# to that key: Here, group '0.0' contains all rows from flights 
# that departed on hour 0.

print(type(by_hour))
print(list(by_hour))
print(list(by_hour)[0], list(by_hour)[0][1].shape)

### Everything looks ok! let's plot this thing!

In [ ]:
fig, ax1 = plt.subplots(figsize=(10, 6))

ax1.set_ylim(-20, 240)

bp = plt.boxplot(groups)

labels = plt.setp(ax1, xticklabels=hours)